.App {
  background-image: linear-gradient(to top, #0fd82a 0%, #e8198b 100%);
  /* background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%); */
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding: 10px;
}
.search-button {
  background: rgb(240, 128, 240);
  border-radius: 0px 5px 5px 0px;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}